
.keyboard-component{
    padding: 2rem 1rem;
    border-radius: 2rem;
    position: fixed;
    box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.2);
    @media screen and (min-width: 769px) {
        right: 27%;
        translate: 50% 0;
    }
}

.keyboard-closed{
    --top-value: 15%;
    @media (max-width: 768px) {
        --top-value: 5%;
    }
    top: 82%;
    animation: closeKeyboard 0.3s ease-out;
    @keyframes closeKeyboard {
        from{
            top: var(--top-value);
        }
        to{
            top: 82%;
        }
    }
}

.keyboard-open{
    --top-value: 15%;
    @media (max-width: 768px) {
        --top-value: 5%;
    }
    top: var(--top-value);
    animation: openKeyboard 0.3s ease-out;
    @keyframes openKeyboard {
        from{
            top: 82%;
        }
        to{
            top: var(--top-value);
        }
    }
}


.keyboard-action-btn{
    position: absolute;
    top: 1%;
    right: 50%;
    background-color: transparent;
    border: none;
    translate: 50% 0;
    cursor: pointer;
}

.keyboard-action-btn-chevron-closed{
    filter:brightness(0);
    rotate: 90deg;
}

.keyboard-action-btn-chevron-open{
    filter:brightness(0);
    rotate: -90deg;
}