:root{
    --theme: rgb(0, 120, 255);
    --success: rgb(20, 220, 150);
    --danger: rgb(240, 103, 75);
    --pastel-pink: pink;
    --pastel-orange: rgb(255, 202, 105);
    --pastel-blue: rgb(164, 229, 255);
    --pastel-purple: rgb(197, 158, 255);
    --pastel-yellow: rgb(237, 237, 150);
    --keyboard-theme: red;
}